<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>
<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</header>

<!-- * * * * * CHATBOT * * * * * -->
<div class="content col-12" role="main">

  <app-snackbar [message]="snackbarMessage"></app-snackbar>

  <div class="row pt-5" id="main">

    <!-- * * * main area * * * -->
    <div class="col-11">

      <!-- * * * chat box * * * -->
      <div class="container p-0 border border-dark rounded" id="chatbox">

        <!-- * * * statusbar + blurred background * * * -->
        <div id="statusbar-container">
          <app-statusbar id="statusbar"></app-statusbar>
        </div>

        <!-- * * * container for chat messages * * * -->
        <div id="child-box">

          <!-- * * * individual chat messages * * * -->
          <div id="chat-messages" class="row justify-content-md-left d-flex align-items-end"
            *ngFor="let turn of dialogueHistory; let i = index">
            <div class="col col-md-2 dialogicon">
              <img class="avatar" src="assets/Cleo_round-v2.png" [hidden]="turn.agent != 'bot' || !isLastBotMessage(i)">
            </div>
            <div class="col col-md-9 m-1"
              [ngClass]="turn.agent == 'bot' ? (isLastBotMessage(i) ? 'botMessageLast' : 'botMessage') : ''">
              <div class="dialogbubble"
                [ngClass]="turn.agent == 'bot' ? (isOnlyBotMessage(i) ? 'dialogBotFirst' : (isFirstBotMessage(i) ? 'dialogBotFirst' : (isLastBotMessage(i) ? 'dialogBotLast' : 'dialogBot'))) : 'dialogUser'">
                <span *ngIf="turn.target != 'wait'">{{turn.message}}</span>
                <span *ngIf="turn.target == 'wait'"><img src="assets/dots-white-v2.gif"></span>
              </div>
            </div>
          </div>
        </div>

        <!-- * * * background blur for the input box * * * -->
        <div class="bg--blur--container">
          <div class="bg--blur" *ngIf="currentTarget != 'offer'">
            <!-- * * * input box * * * -->
            <div class="chatinputbox" id="input-div">

              <!-- * * * open input * * * -->
              <div class="input-group mb-3"
                *ngIf="dialogueHistory.length-1>0 && dialogueHistory[dialogueHistory.length-1].messageReplyType != 'yesno' && dialogueHistory[dialogueHistory.length-1].target != 'goodbye'">
                <input id="input" type="text" placeholder='Type a message here...' class="form-control"
                  [ngModel]="inputMessage" (ngModelChange)="inputMessage = $event" (ngModelChange)="onInputChange()"
                  (keyup.enter)="userInput_open(inputMessage)">

                <!-- * * * button changes from disabled (stroke) to active (filled) as soon as the user starts typing * * * -->
                <button class="btn button-with-icon" type="button" id="button-addon2"
                  [ngClass]="{'inactive-button': isInputEmpty, 'active-button': !isInputEmpty}"
                  (click)="userInput_open(inputMessage)" [disabled]="isInputEmpty">
                  <img id="send-icon" [src]="isInputEmpty ? 'assets/send-inactive.png' : 'assets/send-active.png'">
                </button>

              </div>

              <!-- * * * yes no input * * * -->
              <div class="btn-group" role="group"
                *ngIf="dialogueHistory.length-1>0 && dialogueHistory[dialogueHistory.length-1].messageReplyType == 'yesno'">
                <button type="button" class="btn btn-outline-secondary" (click)="userInput_yesno('yes');">
                  <i class="fas fa-thumbs-up" style="margin-right: 10px;"></i>yes
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="userInput_yesno('no');">
                  <i class="fas fa-thumbs-down" style="margin-right: 10px;"></i>no
                </button>
              </div>
            </div>

          </div>
        </div>

        {{scrollDown()}}
      </div>

      <!-- * * * result presentation neu * * * -->
      <div class="container productOffer p-3 border border-dark rounded" style="background: white"
        *ngIf="currentTarget == 'offer' && presentOfferInInterface">

        <!-- Add a row here to contain the columns -->
        <div class="row">

          <!-- Column for laptop categories
          <div class="col-3">
            <div *ngFor="let category of laptopCategories">
              <strong>{{category}}</strong>
            </div>
          </div> -->

          <!-- Iterate over each laptop in the array -->
          <div *ngFor="let laptop of laptopRecs; let i = index" class="col-4 laptop-column">

            <!-- TITLE -->
            <div class="row">

              <!-- Title, image, and reviews -->
              <div class="col-12">
                <h5 style="height: 100px;">{{laptop.titleStandard_original}}</h5>
                <strong>From {{laptop.brand_original}}</strong>
                <p style="color: grey;">Number of suitable laptops: {{laptopRecs.length}}</p>
                <span style="font-weight:bold;font-size:120%;">£ {{laptop.price_original}}  </span>
                <div style="cursor: pointer;" class="col col-12" (click)="scrollToCarousel()"
                  [title]="'Go to written reviews'">
                  <span *ngFor="let ii of [1,2,3,4,5]; let i = index">
                    <img *ngIf="laptop.ratingAvg_filter>=ii" src="assets/star_full.png" width="16px" style="vertical-align: -1.5px;" alt="full star">
                    <img *ngIf="laptop.ratingAvg_filter<ii-0.5" src="assets/star_empty.png" width="16px" style="vertical-align: -1.5px;" alt="full star">
                    <img *ngIf="laptop.ratingAvg_filter>=ii-0.5 && laptop.ratingAvg_filter<ii"
                      src="assets/star_half.png" width="5%" alt="full star">
                  </span>
                  <span *ngIf="laptop.ratingNum_filter>0">
                    {{roundShowRating(laptop.ratingAvg_filter)}} (based on
                    {{laptop.ratingNum_filter}}
                    reviews)</span>
                </div>
                <br />
                <br />
              </div>
            </div>

            <!-- PICTURE-->
            <div class="row">
              <!-- picture -->
              <div class="col-12"
                style="height: 200px; background-position:center;background-size:contain;background-repeat:no-repeat;"
                [ngStyle]="{'background-image': 'url(https://multiweb.gesis.org/vacos3/' + laptop.sku_original + '.jpg)'}">
              </div>
            </div>

          <!--
          <h5 style="margin-bottom: 16px; margin-top: 48px;">
            <p style="color:#2c7fb8">Product Overview:</p>
          </h5>  -->

            <!-- key aspects -->
            <div class="row" style="margin-top: 48px;">
              <div class="col-12">

                <!-- Product Overview -->
                <!-- Table part one -->
                <div class="accordion table" id="div1"
                  style="margin-bottom: 6px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; overflow: hidden !important; border-color: rgb(215, 215, 215) !important;">
                  <div class="accordion-item collapsed"
                    style="border-top-left-radius: 16px; border-top-right-radius: 16px;">
                    <h2 class="accordion-header" [attr.id]="'headingOne'+i">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        style="border-top-left-radius: 16px; border-top-right-radius: 16px;"
                        [attr.data-bs-target]="'#collapseOne'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapseOne'+i">
                        <strong>Brand: </strong> {{laptop.brand_original}}
                      </button>
                    </h2>
                    <div [attr.id]="'collapseOne'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'headingOne'+i" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="accordion-body">
                          <div class="row">
                            <div class="col">
                              <div id="positive" class="rounded p-3 mb-2" style="border-radius: 8px !important;">
                                <h5>Positive aspects:</h5>
                                <ul>
                                  <li>[aspect 1]</li>
                                  <li>[aspect 2]</li>
                                  <li>[aspect 3]</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div id="negative" class="rounded p-3 mb-2" style="border-radius: 8px !important;">
                                <h5>Negative aspects:</h5>
                                <ul>
                                  <li>[aspect 1]</li>
                                  <li>[aspect 2]</li>
                                  <li>[aspect 3]</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" [attr.id]="'headingTwo'+i">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapseTwo'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapseTwo'+i">
                        <strong>Operating System: </strong> {{laptop.operatingSystem_original}}
                      </button>
                    </h2>
                    <div [attr.id]="'collapseTwo'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'headingTwo'+i" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                    <h2 class="accordion-header" [attr.id]="'headingThree'+i">
                      <button class="accordion-button collapsed" type="button" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapseThree'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapseThree'+i">
                        <strong>Screen Size: </strong> {{laptop.screenSize_original}}
                      </button>
                    </h2>
                    <div [attr.id]="'collapseThree'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'headingThree'+i"
                      style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Table part two -->
                <div class="accordion table" id="div2" style="margin-bottom: 6px; border-color: grey !important; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                  <div class="accordion-item collapsed"
                    style="border-top-left-radius: 8px; border-top-right-radius: 8px;">
                    <h2 class="accordion-header" [attr.id]="'headingFour'+i">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapseFour'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapseFour'+i">
                        <strong>Hard Drive Type: </strong>
                        <span *ngIf="laptop.storageType_original.length>0">
                          {{laptop.storageType_original}}</span>
                        <span *ngIf="laptop.storageType_original.length<=0" style="color:grey">no information
                          available</span>
                      </button>
                    </h2>
                    <div [attr.id]="'collapseFour'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'headingFour'+i" data-bs-parent="#div2">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item collapsed">
                    <h2 class="accordion-header" [attr.id]="'headingFive'+i">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapseFive'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapseFive'+i">
                        <strong>Hard Drive Size: </strong>
                        <span
                          *ngIf="laptop.totalStorageCapacity_original.length>0">{{laptop.totalStorageCapacity_original}}</span>
                        <span *ngIf="laptop.totalStorageCapacity_original.length<=0" style="color:grey">no
                          information
                          available</span>
                      </button>
                    </h2>
                    <div [attr.id]="'collapseFive'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'headingFive'+i" data-bs-parent="#div2">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item collapsed">
                    <h2 class="accordion-header" [attr.id]="'headingSix'+i">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapseSix'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapseSix'+i">
                        <strong>RAM Size: </strong>
                        <span
                          *ngIf="laptop.systemMemoryRam_original.length>0">{{laptop.systemMemoryRam_original}}</span>
                        <span *ngIf="laptop.systemMemoryRam_original.length<=0" style="color:grey">no
                          information
                          available</span>
                      </button>
                    </h2>
                    <div [attr.id]="'collapseSix'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'headingSix'+i" data-bs-parent="#div2">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item collapsed" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                    <h2 class="accordion-header" [attr.id]="'headingSeven'+i">
                      <button class="accordion-button collapsed" type="button" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapseSeven'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapseSeven'+i">
                        <strong>Processor Manufacturer: </strong>
                        <span *ngIf="laptop.processorBrand_original.length>0">{{laptop.processorBrand_original}}</span>
                        <span *ngIf="laptop.processorBrand_original.length<=0" style="color:grey">no
                          information
                          available</span>
                      </button>
                    </h2>
                    <div [attr.id]="'collapseSeven'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'headingSeven'+i" data-bs-parent="#div2">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Table part three -->
                <div class="accordion table" id="div3"
                  style="margin-bottom: 4px; border-color: grey !important; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; overflow: hidden;">
                  <div class="accordion-item" style="border-top-left-radius: 8px; border-top-right-radius: 8px;">
                    <h2 class="accordion-header" [attr.id]="'heading11'+i">
                      <button class="accordion-button collapsed"
                        style="border-top-left-radius: 8px; border-top-right-radius: 8px;" type="button"
                        data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse11'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapse11'+i">
                        <strong>Casing Color: </strong>
                        <span *ngIf="laptop.color_original.length>0">{{laptop.color_original}}</span>
                        <span *ngIf="laptop.color_original.length<=0" style="color:grey">no information
                          available</span>
                      </button>
                    </h2>
                    <div [attr.id]="'collapse11'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'heading11'+i" data-bs-parent="#div3">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item collapsed">
                    <h2 class="accordion-header" [attr.id]="'heading12'+i">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse12'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapse12'+i">
                        <strong>Weight: </strong>
                        <span *ngIf="laptop.productWeight_original.length>0">{{laptop.productWeight_original}}
                          pounds</span>
                        <span *ngIf="laptop.productWeight_original.length<=0" style="color:grey">no
                          information available</span>
                      </button>
                    </h2>
                    <div [attr.id]="'collapse12'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'heading12'+i" data-bs-parent="#div3">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                  <div style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;"
                    class="accordion-item collapsed">
                    <h2 style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;"
                      class="accordion-header" [attr.id]="'heading13'+i">
                      <button class="accordion-button collapsed"
                        style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;" type="button"
                        data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse13'+i" aria-expanded="false"
                        [attr.aria-controls]="'collapse13'+i">
                        <strong>Battery Life: </strong>
                        <span *ngIf="laptop.batteryLife_original.length>0">{{laptop.batteryLife_original}}</span>
                        <span *ngIf="laptop.batteryLife_original.length<=0" style="color:grey">no information
                          available</span>
                      </button>
                    </h2>
                    <div [attr.id]="'collapse13'+i" class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'heading13'+i" data-bs-parent="#div3">
                      <div class="accordion-body">
                        <!-- Your content here -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>           
        
            <!-- Review carousel -->
        <h5 style="margin-top: 48px;">
          <p style="color:#2c7fb8; margin: 0px !important;">Reviews:</p>
        </h5>
        <hr style="border-top: 1px solid lightgrey;">

          <div style="margin-bottom: 12px;">
            <p *ngIf="laptop.reviews.length>0" style="color: grey;">Number of written reviews:
              {{laptop.reviews.length}}</p>
            <p *ngIf="laptop.reviews.length<=0" style="color:grey">No written reviews available.</p>
            <div class="col-12" style="padding-left: 4px; padding-right: 4px;">
              <div #reviewCarousel *ngIf="laptop.reviews.length>0" id="reviewCarousel"
                class="carousel carousel-dark slide d-none d-sm-block">
                <div class="carousel-indicators">
                  <button *ngFor="let review of laptop.reviews; let i = index" type="button"
                    data-bs-target="#reviewCarousel" [attr.data-bs-slide-to]="i" [class.active]="i == 0"
                    [attr.aria-current]="i == 0 ? 'true' : 'false'" [attr.aria-label]="'Slide ' + (i+1)"></button>
                </div>
                <div class="carousel-inner">
                  <div *ngFor="let review of laptop.reviews; let i = index" class="carousel-item"
                    [class.active]="i == 0" data-bs-interval="5000">
                    <div class="card" (click)="openModal(review)">
                      <div class="card-body">
                        <h5 class="card-title">{{review.reviewTitle}}</h5>
                        <p class="card-text review-text" #reviewText>{{review.reviewText}}</p>
                        <div class="info-container">
                          <strong>Rating: </strong>
                          <span *ngFor="let ii of [1,2,3,4,5]; let i = index">
                            <img *ngIf="review.reviewRating>=ii" src="assets/star_full.png"
                              style="width: 16px; vertical-align: -1.5px;" alt="full star">
                            <img *ngIf="review.reviewRating<ii-0.5" src="assets/star_empty.png"
                              style="width: 16px; vertical-align: -1.5px;" alt="empty star">
                            <img *ngIf="review.reviewRating>=ii-0.5 && review.reviewRating<ii"
                              src="assets/star_half.png" style="width: 16px; vertical-align: -1.5px;" alt="half star">
                          </span>
                        </div>
                        <div class="info-container">
                          <strong>Date: </strong>{{review.reviewDate}}
                        </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#reviewCarousel"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#reviewCarousel"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>

          <!-- PRODUKTBESCHREIBUNG
          <div class="row pl-2 pr-2">
            <div class="col-12">
              <div *ngIf="laptop.longDescription_original.length > 0">
                <br />
                <br />
                <p>{{laptop.longDescription_original}}</p>
              </div>
            </div>  -->

          <div class="accordion" id="productAccordion" style="margin-top: 48px; border-radius: 8px;">
  <div class="accordion-item" id="details" style="border-radius: 8px;">
    <h2 class="accordion-header" id="heading14">
      <button class="accordion-button collapsed" style="background-color: #f1f1f1; padding-left: 16px; border-radius: 8px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14"
              onmouseover="this.style.backgroundColor='#e6e6e6';"
              onmouseout="this.style.backgroundColor='#f1f1f1';">
        <strong>Product Details</strong>
      </button>      
    </h2>
    <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#productAccordion">
      <div class="accordion-body" style="background-color: white;">


          <!-- GENERAL-->
          <h5 style="margin-top: 32px;">
            <p style="color:#2c7fb8; margin: 0px !important;">General:</p>
          </h5>

          <div class="row pl-2 pr-2" style="margin-top: 16px;">
            <div class="col-12">
              <div style="border: 1.2px solid grey; border-radius: 16px; margin-bottom: 16px; overflow: hidden;">
                <table class="table table-striped"
                  style="table-layout:fixed;width:100%;margin: 0px !important; border-collapse: separate; border-spacing: 0;">
                  <thead>
                    <tr>
                      <th></th>
                      <th *ngFor="let laptop of laptopRecs; let i = index">{{laptop.title_original}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="max-width: 200px !important;"><b class="mr-1">Brand</b></td>
                      <td *ngFor="let laptop of laptopRecs" [ngStyle]="{'color': laptop.brand_original.length > 0 ? 'black' : 'grey'}">
                        {{laptop.brand_original.length > 0 ? laptop.brand_original : 'no information available'}}
                      </td>
                    </tr>
                    <tr style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; overflow: hidden;">
                      <td style="max-width: 200px !important; border-bottom-left-radius: 16px; border-top-right-radius: 16px;"><b class="mr-1">Model Number</b></td>
                      <td *ngFor="let laptop of laptopRecs" [ngStyle]="{'color': laptop.modelNumber_original.length > 0 ? 'black' : 'grey'}">
                        {{laptop.modelNumber_original.length > 0 ? laptop.modelNumber_original : 'no information available'}}
                      </td>
                    </tr>
                    <!-- Add other aspects similarly -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>          


          <!-- SCREEN-->
          <h5 style="margin-top: 32px;">
            <p style="color:#2c7fb8; margin: 0px !important;">Screen:</p>
          </h5>

          <div class="row pl-2 pr-2">
            <div class="col-12">
              <div style="border: 1.2px solid grey; border-radius: 16px; margin-bottom: 16px; overflow: hidden;">
                <table class="table table-striped"
                  style="table-layout:fixed;width:100%;margin: 0px !important; border-collapse: separate; border-spacing: 0;">
                  <thead>
                    <tr>
                      <th></th>
                      <th *ngFor="let laptop of laptopRecs; let i = index">{{laptop.title_original}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="width: 200px;"><b class="mr-1">Screen Size</b></td>
                      <td *ngFor="let laptop of laptopRecs">
                        <span [ngStyle]="{'color': laptop.screenSize_original.length > 0 ? 'black' : 'grey'}">
                          {{laptop.screenSize_original.length > 0 ? laptop.screenSize_original : 'no information available'}}
                        </span>
                      </td>
                    </tr>
                    <tr style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; overflow: hidden;">
                      <td style="width: 200px;"><b class="mr-1">Screen Type</b></td>
                      <td *ngFor="let laptop of laptopRecs">
                        <span [ngStyle]="{'color': laptop.screenType_original.length > 0 ? 'black' : 'grey'}">
                          {{laptop.screenType_original.length > 0 ? laptop.screenType_original : 'no information available'}}
                        </span>
                      </td>
                    </tr>
                    <!-- Add other aspects similarly -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>          


          <!-- HARD DRIVE -->
          <h5 style="margin-top: 32px;">
            <p style="color:#2c7fb8; margin: 0px !important;">Hard Drive:</p>
          </h5>

<div class="row pl-2 pr-2">
  <div class="col-12">
    <div style="border: 1.2px solid grey; border-radius: 16px; margin-bottom: 16px; overflow: hidden;">
      <table class="table table-striped"
        style="table-layout:fixed;width:100%;margin: 0px !important; border-collapse: separate; border-spacing: 0;">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let laptop of laptopRecs; let i = index">{{laptop.title_original}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 200px;"><b class="mr-1">Total Storage Capacity</b></td>
            <td *ngFor="let laptop of laptopRecs" [ngStyle]="{'color': laptop.totalStorageCapacity_original.length > 0 ? 'black' : 'grey'}">
              {{laptop.totalStorageCapacity_original.length > 0 ? laptop.totalStorageCapacity_original : 'no information available'}}
            </td>
          </tr>
          <tr style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; overflow: hidden;">
            <td style="width: 200px;"><b class="mr-1">HDD Size</b></td>
            <td *ngFor="let laptop of laptopRecs" [ngStyle]="{'color': laptop.hardDriveCapacity_original.length > 0 ? 'black' : 'grey'}">
              {{laptop.hardDriveCapacity_original.length > 0 ? laptop.hardDriveCapacity_original : 'no information available'}}
            </td>
          </tr>
          <!-- Add other aspects similarly -->
        </tbody>
      </table>
    </div>
  </div>
</div>


          <!-- CPU -->
          <h5 style="margin-top: 32px;">
            <p style="color:#2c7fb8; margin: 0px !important;">Processor (CPU):</p>
          </h5>

          <div class="row pl-2 pr-2">
            <div class="col-12">
              <div style="border: 1.2px solid grey; border-radius: 16px; margin-bottom: 16px; overflow: hidden;">
                <table class="table table-striped"
                  style="table-layout:fixed;width:100%;margin: 0px !important; border-collapse: separate; border-spacing: 0;">
                  <thead>
                    <tr>
                      <th></th>
                      <th *ngFor="let laptop of laptopRecs; let i = index">{{laptop.title_original}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="width: 200px;"><b class="mr-1">Processor Brand</b></td>
                      <td *ngFor="let laptop of laptopRecs" [ngStyle]="{'color': laptop.processorBrand_original.length > 0 ? 'black' : 'grey'}">
                        {{laptop.processorBrand_original.length > 0 ? laptop.processorBrand_original : 'no information available'}}
                      </td>
                    </tr>
                    <tr style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; overflow: hidden;">
                      <td style="width: 200px;"><b class="mr-1">Processor Model</b></td>
                      <td *ngFor="let laptop of laptopRecs" [ngStyle]="{'color': laptop.processorModel_original.length > 0 ? 'black' : 'grey'}">
                        {{laptop.processorModel_original.length > 0 ? laptop.processorModel_original : 'no information available'}}
                      </td>
                    </tr>
                    <!-- Add other aspects similarly -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>          


          <!-- RAM -->
          <h5 style="margin-top: 32px;">
            <p style="color:#2c7fb8; margin: 0px !important;">Working Memory (RAM):</p>
          </h5>

          <div class="row pl-2 pr-2">
            <div class="col-12">
              <div style="border: 1.2px solid grey; border-radius: 16px; margin-bottom: 16px; overflow: hidden;">
                <table class="table table-striped"
                  style="table-layout:fixed;width:100%;margin: 0px !important; border-collapse: separate; border-spacing: 0;">
                  <thead>
                    <tr>
                      <th></th>
                      <th *ngFor="let laptop of laptopRecs; let i = index">{{laptop.title_original}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; overflow: hidden;">
                      <td style="width: 200px;"><b class="mr-1">RAM Size</b></td>
                      <td *ngFor="let laptop of laptopRecs">
                        <span [ngStyle]="{'color': laptop.systemMemoryRam_original.length > 0 ? 'black' : 'grey'}">
                          {{laptop.systemMemoryRam_original.length > 0 ? laptop.systemMemoryRam_original : 'no information available'}}
                        </span>
                      </td>
                    </tr>
                    <!-- Add other aspects similarly -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>


           <!-- CONNECTIVITY -->
           <h5 style="margin-top: 32px;">
            <p style="color:#2c7fb8; margin: 0px !important;">Connectivity:</p>
          </h5>

          <div class="row pl-2 pr-2">
  <div class="col-12">
    <div style="border: 1.2px solid grey; border-radius: 16px; margin-bottom: 16px; overflow: hidden;">
      <table class="table table-striped"
        style="table-layout:fixed;width:100%;margin: 0px !important; border-collapse: separate; border-spacing: 0;">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let laptop of laptopRecs; let i = index">{{laptop.title_original}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 200px;"><b class="mr-1">WiFi</b></td>
            <td *ngFor="let laptop of laptopRecs" [ngStyle]="{'color': laptop.internetConnectivity_original.length > 0 ? 'black' : 'grey'}">
              {{laptop.internetConnectivity_original.length > 0 ? laptop.internetConnectivity_original : 'no information available'}}
            </td>
          </tr>
          <tr style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; overflow: hidden;">
            <td style="width: 200px;"><b class="mr-1">USB Ports</b></td>
            <td *ngFor="let laptop of laptopRecs" [ngStyle]="{'color': laptop.numberOfUsbPortsTotal_original.length > 0 ? 'black' : 'grey'}">
              {{laptop.numberOfUsbPortsTotal_original.length > 0 ? laptop.numberOfUsbPortsTotal_original : 'no information available'}}
            </td>
          </tr>
          <!-- Add other aspects similarly -->
        </tbody>
      </table>
    </div>
  </div>
</div>        

        </div>

      </div>
    </div>
  </div>
  <!-- Add more accordion items as needed -->
</div>

      </div>
    </div>

  <!-- right side menu -->
  <div class="col-1">
    <button style="margin: 6px" type="button" class="btn btn-primary" (click)="restartDialogue()">Restart
      Chat</button>
    <br>
    <button style="margin: 6px" type="button" class="btn btn-primary" (click)="opencloseScenario()">Read Task
      Description</button>
    <br>
    <app-scroll-button></app-scroll-button>
    <br>
  </div>

</div>
</div>

<br>

<!-- right side menu
            <div class="container productOffer p-2" *ngIf="currentTarget == 'offer'">
              <button style="margin: 6px; position: fixed; bottom: 3%; right: 3%" type="button" class="btn btn-primary" (click)="sendBackToSurvey()">I have formed an opinion on the product. Take me to the next step!</button>
            </div>
            <br>
            -->

<!-- requirements list -->
<div class="border border-dark rounded m-3" *ngIf="devMode == 'testing'">
  <div class="row border border-dark rounded m-3" *ngFor="let reqs of requirements | keyvalue">
    <b>{{reqs.key}}:</b> {{JSON.stringify(reqs.value)}}
  </div>
</div>
<!-- available laptops -->
<div class="border border-dark rounded m-3" *ngIf="devMode == 'testing'">
  <b>available laptops:</b> {{numLaptopRecs}}
</div>

<!-- Scenario Popover -->
<div class="fadeMe" *ngIf="showScenario"></div>
<div class="col-12 priotop p-4 text-white rounded"
  style="position:fixed;left:10%;top:10%;width:80%;background: linear-gradient(to bottom, #418082, #396A6B);"
  *ngIf="showScenario">
  <div>
    <h3>Your task:</h3>
    <h3>Imagine your laptop broke down. Now, you are searching for a new laptop.</h3>
  </div>
  <br>
  <div>
    <button type="button" class="btn btn-outline-light" (click)="opencloseScenario()">
      Close Task Description
    </button>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<!-- JS, Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>