<div class="modal-header">
  <h4 class="modal-title">Task finished</h4>
</div>
<div class="modal-body">
  <div id="body-text">
    <h5>{{questionText}}</h5>
  </div>
  <div id="buttons" *ngIf="!showFeedback">
    <button type="button" class="btn custom-danger-button" (click)="handleNo()">No</button>
    <button type="button" class="btn custom-success-button" (click)="handleYes()">Yes</button>
  </div>
  <div id="feedback" *ngIf="showFeedback">
    <textarea type="text" id="feedback-input" placeholder="{{inputPlaceholder}}" #feedbackInput></textarea>
    <div id="button">
      <button type="button" class="btn custom-submit-button" (click)="handleSubmit(feedbackInput.value)">Submit</button>
    </div>
  </div>
</div>
