/* Add your custom styles for the dialog box */
.modal-header {
    background: linear-gradient(to bottom, #418082, #396A6B);
    color: white;
}

.modal-body {
    padding: 16px;
}

#buttons {
    display: flex;
    justify-content: center;
}

/*
.custom-success-button {
    background-color: #437E89;
    color: white;
}

.custom-success-button:hover {
    background-color: #4C909D;
    color: white;
}

.custom-danger-button {
    border-color: #8E1919;
    color: #8E1919;
    margin-right: 10px;
}

.custom-danger-button:hover {
    background-color: #C24848;
    color: white;
    margin-right: 10px;
}
*/

.fa-thumbs-up:hover, .fa-thumbs-down:hover {
    color: #4EA1A4; /* Change this to your preferred hover color */
}

#buttons {
    margin-top: 20px;
}

#button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

#feedback-input {
    width: 466px;
}

.custom-submit-button {
    background-color: #437E89;
    color: white;
}

.custom-submit-button:hover {
    background-color: #4C909D;
    color: white;
}

.fa {
    min-width: 80px;
    display: flex;
    justify-content: center;
}

#submit {
    display: flex;
    justify-content: flex-end;
}
