<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>

<!-- * * * * * HEADER: LAPTOPSHOP * * * * * -->

<div class="row" style="background: white">
  <hr>
  <div class="" style="display: flex; justify-content: center; align-items: center;">
    <!-- link icon -->
    <img src="assets/spacebot.png" width="5%" alt="Laptop">
    <h1>&nbsp;&nbsp;Laptop&nbsp;Space</h1>
  </div>
  <hr>
</div>

<!-- * * * * * PAGE 1: CHATBOT * * * * * -->
<div *ngIf="page==1" class="content" role="main" style="background: antiquewhite">

  <div class="row text-center pt-5">

    <!-- * * * chat box * * * -->
    <div class="container p-3 border border-dark rounded" id="chatbox">

      <!-- * * * individual chat messages * * * -->
      <div class="row justify-content-md-center" *ngFor="let turn of dialogueHistory; let i = index">
        <div class="col col-md-2 dialogicon">
          <img src="assets/bot.png" [hidden]="turn.agent != 'bot' || beforeSameAgent(i)">
        </div>
        <div class="col col-md-7 m-1">
          <div class="dialogbubble" [ngClass]="turn.agent == 'bot' ? 'dialogBot' : 'dialogUser'">
            <span *ngIf="turn.target != 'wait'">{{turn.message}}</span>
            <span *ngIf="turn.target == 'wait'"><img src="assets/dots.gif"></span>
          </div>
        </div>
        <div class="col col-md-2 dialogicon">
          <img src="assets/user.png" style="float:left!important" [hidden]="turn.agent != 'user'">
        </div>
      </div>
      {{scrollDown()}}
    </div>

    <!-- * * * input box * * * -->
    <div class="container chatinputbox p-3 border border-dark rounded">
      <!-- * * * open input * * * -->
      <div class="input-group mb-3" *ngIf="dialogueHistory[dialogueHistory.length-1].messageReplyType != 'yesno' && dialogueHistory[dialogueHistory.length-1].target != 'goodbye'">
        <input type="text" class="form-control" [ngModel]="inputMessage" (ngModelChange)="inputMessage = $event" (keyup.enter)="sendMessage(inputMessage)">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="sendMessage(inputMessage)">Send</button>
      </div>
      <!-- * * * yes no input * * * -->
      <div class="btn-group" role="group" *ngIf="dialogueHistory[dialogueHistory.length-1].messageReplyType == 'yesno'">
        <button type="button" class="btn btn-outline-secondary" (click)="sendMessage('yes')">yes</button>
        <button type="button" class="btn btn-outline-secondary" (click)="sendMessage('no')">no</button>
      </div>
      <!-- * * * final confirmation * * * -->
      <div class="btn-group" role="group" *ngIf="dialogueHistory[dialogueHistory.length-1].target == 'goodbye'">
        <button type="button" class="btn btn-outline-secondary" (click)="goToNextPage()">okay, continue</button>
      </div>
    </div>

    <br>
    <!-- * * * reset box * * * -->
    <div class="container p-3" style="float: left; background: antiquewhite; max-width: 80%">
      <!-- * * * reset button * * * -->
      <button type="button" class="btn btn-outline-danger" (click)="restartDialogue()">Restart Chat</button>
    </div>

  </div>

</div>


<!-- * * * * * PAGE 2: EVALUATION * * * * * -->
<div *ngIf="page==2" class="content" role="main" >

  <div class="container text-center mt-5">
    <h2>Okay, thank you!</h2>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

</html>
