.modal-header {
    background: linear-gradient(to bottom, #418082, #396A6B);
    color: white;
}

.modal-body {
    padding: 16px;
}

#likely-scale, #confidence-scale {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
  
.likely-option, .confidence-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 0 20%; /* This will make the options take up 20% of the container width, and wrap to next line if there isn't enough space */
}

#submit-button {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column; /* This will stack the textarea and button vertically */
}

#feedback-input {
    width: 466px;
}

.custom-submit-button {
    background-color: #437E89;
    color: white;
    margin-top: 10px; /* This will add some space between the textarea and button */
}

.custom-submit-button:hover {
    background-color: #4C909D;
    color: white;
}
