<div class="modal-header">
  <h4 class="modal-title">Task finished</h4>
</div>
<div class="modal-body">
  <div id="body-text">
    <h5>{{questionText}}</h5>
  </div>
  <div id="likely-scale" *ngIf="showLikelyScale && !showFeedback">
    <div class="likely-option" *ngFor="let option of likelyOptions; let i = index">
      <input type="radio" [value]="option" [(ngModel)]="selectedLikelyOption" name="likely" (change)="handleLikelyChange(i)">
      <label>{{option}}</label>
    </div>
  </div>
  <div id="confidence-scale" *ngIf="showConfidenceScale && !showFeedback">
    <div class="confidence-option" *ngFor="let option of confidenceOptions; let i = index">
      <input type="radio" [value]="option" [(ngModel)]="selectedConfidenceOption" name="confidence" (change)="handleConfidenceChange(i)">
      <label><strong>{{option}}</strong></label>
    </div>
  </div>
  <div id="submit-button" *ngIf="showFeedback">
    <textarea type="text" id="feedback-input" placeholder="{{inputPlaceholder}}" #feedbackInput
      (input)="handleInput($event)"></textarea>
    <div id="submit">
      <button type="button" class="btn custom-submit-button" [disabled]="!isInputValid"
        (click)="handleSubmit(feedbackInput)">Submit</button>
    </div>
  </div>
</div>
