/* Add your custom styles for the dialog box */
.modal-header {
    background: linear-gradient(to bottom, #418082, #396A6B);
    color: white;
}

.modal-body {
    padding: 16px;
}

#buttons {
    display: flex;
    justify-content: center;
}

.fa-thumbs-up:hover, .fa-thumbs-down:hover {
    color: #4EA1A4; /* Change this to your preferred hover color */
}

#buttons {
    margin-top: 20px;
}

#likert-scale {
    display: flex;
    justify-content: space-between;
}
  
.likert-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

#feedback-input {
    width: 466px;
}

.custom-submit-button {
    background-color: #437E89;
    color: white;
}

.custom-submit-button:hover {
    background-color: #4C909D;
    color: white;
}

.fa {
    min-width: 80px;
    display: flex;
    justify-content: center;
}

#submit {
    display: flex;
    justify-content: flex-end;
}
