#scroll {
    /* background: linear-gradient(to bottom, #5A787F, #415256); */
    /* background-color: #597490; */
    background-color: #FFD335;
    color: black;
    font-weight: bold;
    border: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    font-size: 1.2rem;
    border-radius: 6px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    z-index: 1;
    max-width: 450px;

    /* Add these properties for the animation */
    animation: slide-in-scroll 0.4s forwards;
    right: -150px; /* Initially, the button is hidden on the right */
}

@keyframes slide-in-scroll {
    100% { right: 20px; } /* At the end of the animation, the button is 20px from the right */
}

#scroll:hover {
    /* background: linear-gradient(to bottom, #7399A1, #56777E); */
    background-color: #EBC230;
}

#text {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
}

.fixed-button {
    position: fixed;
    top: 60%;
    right: 20px;
}
