<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>


<!-- * * * * * CHATBOT * * * * * -->
<div class="content" role="main">

  <app-snackbar [message]="snackbarMessage"></app-snackbar>

  <div class="row pt-5">

    <!-- * * * main area * * * -->
    <div class="col-10">

      <!-- * * * chat box * * * -->
      <div class="container p-0 border border-dark rounded" id="chatbox">

        <!-- * * * statusbar + blurred background * * * -->
        <div id="statusbar-container">
          <app-statusbar id="statusbar"></app-statusbar>
        </div>

        <!-- * * * container for chat messages * * * -->
        <div id="child-box">

          <!-- * * * individual chat messages * * * -->
          <div id="chat-messages" class="row justify-content-md-left d-flex align-items-end"
            *ngFor="let turn of dialogueHistory; let i = index">
            <div class="col col-md-2 dialogicon">
              <img class="avatar" src="assets/Cleo_round-v2.png" [hidden]="turn.agent != 'bot' || !isLastBotMessage(i)">
            </div>
            <div class="col col-md-9 m-1">
              <div class="dialogbubble" [ngClass]="turn.agent == 'bot' ? 'dialogBot' : 'dialogUser'">
                <span *ngIf="turn.target != 'wait'">{{turn.message}}</span>
                <span *ngIf="turn.target == 'wait'"><img src="assets/dots-white-v2.gif"></span>
              </div>
            </div>
          </div>
        </div>

        <!-- * * * background blur for the input box * * * -->
        <div class="bg--blur--container">
          <div class="bg--blur">
            <!-- * * * input box * * * -->
            <div class="chatinputbox" id="input-div" *ngIf="currentTarget != 'offer'">
              
              <!-- * * * open input * * * -->
              <div class="input-group mb-3"
                *ngIf="dialogueHistory.length-1>0 && dialogueHistory[dialogueHistory.length-1].messageReplyType != 'yesno' && dialogueHistory[dialogueHistory.length-1].target != 'goodbye'">
                <input id="input" type="text" placeholder="Type a message here..." class="form-control"
                  [(ngModel)]="inputMessage" (ngModelChange)="onInputChange()"
                  (keyup.enter)="sendMessage(inputMessage)">
                
                <!-- * * * button changes from disabled (stroke) to active (filled) as soon as the user starts typing * * * -->
                <button class="btn button-with-icon" type="button" id="button-addon2"
                  [ngClass]="{'inactive-button': isInputEmpty, 'active-button': !isInputEmpty}"
                  (click)="sendMessage(inputMessage)" [disabled]="isInputEmpty">
                  <img id="send-icon" [src]="isInputEmpty ? 'assets/send-inactive.png' : 'assets/send-active.png'">
                </button>
              </div>

              <!-- * * * yes no input * * * -->
              <div class="btn-group" role="group"
                *ngIf="dialogueHistory.length-1>0 && dialogueHistory[dialogueHistory.length-1].messageReplyType == 'yesno'">
                <button type="button" class="btn btn-outline-secondary" (click)="userInput_yesno('yes');">yes</button>
                <button type="button" class="btn btn-outline-secondary" (click)="userInput_yesno('no');">no</button>
              </div>
            </div>

          </div>
        </div>

        {{scrollDown()}}
      </div>

      <!-- * * * result presentation * * * -->
      <div class="container productOffer p-3 border border-dark rounded" style="background: white" *ngIf="currentTarget == 'offer'">

        <div class="row pl-2 pr-2">

          <!-- TITLE -->
          <div class="row">
            <div class="col col-11">
              <h5>{{this.laptopRecs[0].titleStandard_original}}</h5>
              <strong>From {{this.laptopRecs[0].brand_original}}</strong>
              <br/>
              <span
                style="font-weight:bold;font-size:120%">&#163;&nbsp;{{this.laptopRecs[0].price_original}}&nbsp;&nbsp;</span>
              <br/>
              <div class="col col-12">
            <span *ngFor="let ii of [1,2,3,4,5]; let i = index">
                                <img *ngIf="this.laptopRecs[0].ratingAvg_filter>=ii" src="assets/star_full.png" width="3%"
                                     alt="full star">
                                <img *ngIf="this.laptopRecs[0].ratingAvg_filter<ii-0.5" src="assets/star_empty.png"
                                     width="3%" alt="full star">
                                <img *ngIf="this.laptopRecs[0].ratingAvg_filter>=ii-0.5 && this.laptopRecs[0].ratingAvg_filter<ii"
                                     src="assets/star_half.png" width="3%" alt="full star">
                              </span>
                <span *ngIf="this.laptopRecs[0].ratingNum_filter>0"> {{roundShowRating(this.laptopRecs[0].ratingAvg_filter)}}&nbsp;(based on {{this.laptopRecs[0].ratingNum_filter}}
                  reviews)</span>
              </div>
              <br/>
              <br/>
            </div>
          </div>

          <!-- UEBERSICHT -->
          <div class="row">
            <!-- picture -->
            <div class="col-5" style="background-position:center;background-size:contain;background-repeat:no-repeat;"
                 [ngStyle]="{'background-image': 'url(https://multiweb.gesis.org/vacos3/' + this.laptopRecs[0].sku_original + '.jpg)'}"></div>
            <!-- key aspects -->
            <div class="col-7">
              <!-- Product Details -->
              <br/>
              <table class="table table-striped" style="table-layout:fixed;width:100%;">
                <tbody>
                <tr>
                  <td><b class="mr-2">Brand</b></td>
                  <td *ngIf="this.laptopRecs[0].brand_original.length>0">{{this.laptopRecs[0].brand_original}}</td>
                  <td *ngIf="this.laptopRecs[0].brand_original.length<=0"><p style="color:grey">no information available</p>
                  </td>
                </tr>
                <tr>
                  <td><b class="mr-2">Operating System</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].operatingSystem_original.length>0">{{this.laptopRecs[0].operatingSystem_original}}</td>
                  <td *ngIf="this.laptopRecs[0].operatingSystem_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Screen Size</b></td>
                  <td *ngIf="this.laptopRecs[0].screenSize_original.length>0">
                    <div>
                      <div style="display: inline-block">
                        <span
                          [ngStyle]="{'background-color': this.needsHighlight && this.bubbleTexts['display'] ? this.highlightColor : 'none' }">
                          {{this.laptopRecs[0].screenSize_original}}
                        </span>
                      </div>
                      <div *ngIf="this.needsBubbles && this.bubbleTexts['display']" style="display: inline-block"
                           (click)="hide(document.getElementById('displayPopup'));">
                        <div class="popup">
                          <img class="avatar" style="max-width: 50px; margin:auto;" src="assets/Cleo_round-v2.png">
                          <span class="popuptext" id="displayPopup">
                              {{this.bubbleTexts['display']}}
                            </span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="this.laptopRecs[0].screenSize_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Hard Drive Type</b></td>
                  <td *ngIf="this.laptopRecs[0].storageType_original.length>0">{{this.laptopRecs[0].storageType_original}}</td>
                  <td *ngIf="this.laptopRecs[0].storageType_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Hard Drive Size</b></td>
                  <td *ngIf="this.laptopRecs[0].totalStorageCapacity_original.length>0">
                    <div>
                      <div style="display: inline-block">
                        <span
                          [ngStyle]="{'background-color':this.needsHighlight && this.bubbleTexts['storage'] ? this.highlightColor : 'none' }">
                          {{this.laptopRecs[0].totalStorageCapacity_original}}
                        </span>
                      </div>
                      <div *ngIf="this.needsBubbles && this.bubbleTexts['storage']" style="display: inline-block"
                           (click)="hide(document.getElementById('StoragePopup'));">
                        <div class="popup">
                          <img class="avatar" style="max-width: 50px; margin:auto;" src="assets/Cleo_round-v2.png">
                          <span class="popuptext" [ngStyle]="get_style(this.bubbleTexts['storage'])"
                                id="StoragePopup">
                              {{this.bubbleTexts['storage']}}
                            </span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="this.laptopRecs[0].totalStorageCapacity_original.length<=0"><p style="color:grey">no information
                    available</p>
                  </td>
                </tr>
                <tr>
                  <td><b class="mr-2">RAM Size</b></td>
                  <td *ngIf="this.laptopRecs[0].systemMemoryRam_original.length>0">
                    <div>
                      <div style="display: inline-block">
                        <span
                          [ngStyle]="{'background-color':this.needsHighlight && this.bubbleTexts['ram'] ? this.highlightColor : 'none' }">
                          {{this.laptopRecs[0].systemMemoryRam_original}}
                        </span>
                      </div>
                      <div *ngIf="this.needsBubbles && this.bubbleTexts['ram']" style="display: inline-block"
                           (click)="hide(document.getElementById('ramPopup'));">
                        <div class="popup">
                          <img class="avatar" style="max-width: 50px; margin:auto;" src="assets/Cleo_round-v2.png">
                          <span class="popuptext" [ngStyle]="get_style(this.bubbleTexts['ram'])" id="ramPopup">
                              {{this.bubbleTexts['ram']}}
                            </span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="this.laptopRecs[0].systemMemoryRam_original.length<=0">
                    <p style="color:grey">no information available</p>
                  </td>
                </tr>
                <tr>
                  <td><b class="mr-2">Processor Manufacturer</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].processorBrand_original.length>0">{{this.laptopRecs[0].processorBrand_original}}</td>
                  <td *ngIf="this.laptopRecs[0].processorBrand_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Processor Cores</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].processorCores_filter.toString().length>0 && this.laptopRecs[0].processorCores_filter>0">{{this.laptopRecs[0].processorCores_filter}}</td>
                  <td
                    *ngIf="this.laptopRecs[0].processorCores_filter.toString().length<=0 || this.laptopRecs[0].processorCores_filter<=0">
                    <p style="color:grey">no information available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Processor Speed</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].processorSpeedBase_original.length>0">{{this.laptopRecs[0].processorSpeedBase_original}}</td>
                  <td *ngIf="this.laptopRecs[0].processorSpeedBase_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Casing Color</b></td>
                  <td *ngIf="this.laptopRecs[0].color_original.length>0">{{this.laptopRecs[0].color_original}}</td>
                  <td *ngIf="this.laptopRecs[0].color_original.length<=0"><p style="color:grey">no information available</p>
                  </td>
                </tr>
                <tr>
                  <td><b class="mr-2">Weight</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].productWeight_original.length>0">{{this.laptopRecs[0].productWeight_original}}</td>
                  <td *ngIf="this.laptopRecs[0].productWeight_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Battery Life</b></td>
                  <td *ngIf="this.laptopRecs[0].batteryLife_original.length>0">

                    <div>
                      <div style="display: inline-block">
                        <span
                          [ngStyle]="{'background-color':this.needsHighlight && this.bubbleTexts['battery'] ? this.highlightColor : 'none' }">
                          {{this.laptopRecs[0].batteryLife_original}}
                        </span>
                      </div>
                      <div *ngIf="this.needsBubbles && this.bubbleTexts['battery']" style="display: inline-block"
                           (click)="hide(document.getElementById('batteryPopup'));">
                        <div class="popup">
                          <img class="avatar" style="max-width: 50px; margin:auto;" src="assets/Cleo_round-v2.png">
                          <span class="popuptext" [ngStyle]="get_style(this.bubbleTexts['battery'])"
                                id="batteryPopup">
                              {{this.bubbleTexts['battery']}}
                            </span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="this.laptopRecs[0].batteryLife_original.length<=0">
                    <p style="color:grey">no information available</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- PRODUKTBESCHREIBUNG -->
        <div class="row pl-2 pr-2">
          <div class="col-12" *ngIf="laptopRecs[0].longDescription_original.length>0">
            <br/>
            <br/>
            <p>{{this.laptopRecs[0].longDescription_original}}</p>
          </div>

          <!-- GENERAL PRODUCT INFORMATION -->
          <div class="row pl-2 pr-2">
            <div class="col-12">
              <br/>
              <h5><p style="color:#2c7fb8">General Product Information:</p></h5>
              <br/>
              <table class="table table-striped" style="table-layout:fixed;width:100%;">
                <tbody>
                <tr>
                  <td><b class="mr-2">Brand</b></td>
                  <td *ngIf="this.laptopRecs[0].brand_original.length>0">{{this.laptopRecs[0].brand_original}}</td>
                  <td *ngIf="this.laptopRecs[0].brand_original.length<=0"><p style="color:grey">no information available</p>
                  </td>
                </tr>
                <tr>
                  <td><b class="mr-2">Model Number</b></td>
                  <td *ngIf="this.laptopRecs[0].modelNumber_original.length>0">{{this.laptopRecs[0].modelNumber_original}}</td>
                  <td *ngIf="this.laptopRecs[0].modelNumber_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Operating System</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].operatingSystem_original.length>0">{{this.laptopRecs[0].operatingSystem_original}}</td>
                  <td *ngIf="this.laptopRecs[0].operatingSystem_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr *ngIf="this.laptopRecs[0].operatingSystemArchitecture_original.length>0">
                  <td><b class="mr-2">Operating System Architecture</b></td>
                  <td>{{this.laptopRecs[0].operatingSystemArchitecture_original}}</td>
                </tr>
                <tr *ngIf="this.laptopRecs[0].yearOfRelease_original.length>0">
                  <td><b class="mr-2">Release Date</b></td>
                  <td>{{this.laptopRecs[0].yearOfRelease_original}}</td>
                </tr>
                <tr *ngIf="this.laptopRecs[0].preowned_vagueFront.length>0">
                  <td><b class="mr-2">Second Hand</b></td>
                  <td>{{this.laptopRecs[0].preowned_vagueFront}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- SCREEN -->
          <div class="row pl-2 pr-2">
            <div class="col-12">
              <br/>
              <h5><p style="color:#2c7fb8">Screen:</p></h5>
              <br/>
              <table class="table table-striped" style="table-layout:fixed;width:100%;">
                <tbody>
                <tr>
                  <td><b class="mr-2">Screen Size</b></td>
                  <td *ngIf="this.laptopRecs[0].screenSize_original.length>0">
                    <div>
                      <div style="display: inline-block">
                        <span
                          [ngStyle]="{'background-color':this.needsHighlight && this.bubbleTexts['display'] ? this.highlightColor : 'none' }">
                      {{this.laptopRecs[0].screenSize_original}}
                        </span>
                      </div>
                      <div style="display: inline-block">
                        <div *ngIf="this.needsBubbles && this.bubbleTexts['display']"
                              (click)="hide(document.getElementById('displayPopup2'));">
                        <div class="popup">
                          <img class="avatar" style="max-width: 50px; margin:auto;" src="assets/Cleo_round-v2.png">
                          <span class="popuptext" id="displayPopup2">
                                {{this.bubbleTexts['display']}}
                              </span>
                        </div>
                      </div>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="this.laptopRecs[0].screenSize_original.length<=0">
                    <p style="color:grey">no information available</p>
                  </td>
                </tr>
                <tr>
                  <td><b class="mr-2">Screen Type</b></td>
                  <td *ngIf="this.laptopRecs[0].screenType_original.length>0">{{this.laptopRecs[0].screenType_original}}</td>
                  <td *ngIf="this.laptopRecs[0].screenType_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Screen Resolution</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].screenResolution_original.length>0">{{this.laptopRecs[0].screenResolution_original}}</td>
                  <td *ngIf="this.laptopRecs[0].screenResolution_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Touchscreen</b></td>
                  <td *ngIf="this.laptopRecs[0].touchScreen_original.length>0">{{this.laptopRecs[0].touchScreen_original}}</td>
                  <td *ngIf="this.laptopRecs[0].touchScreen_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- HARD DRIVE -->
          <div class="row pl-2 pr-2">
            <div class="col-12">
              <br/>
              <h5><p style="color:#2c7fb8">Hard Drive:</p></h5>
              <br/>
              <table class="table table-striped" style="table-layout:fixed;width:100%;">
                <tbody>
                <tr>
                  <td><b class="mr-2">Total Storage Capacity</b></td>
                  <td *ngIf="this.laptopRecs[0].totalStorageCapacity_original.length>0">
                    <div>
                      <div style="display: inline-block">
                        <span
                          [ngStyle]="{'background-color':this.needsHighlight && this.bubbleTexts['storage'] ? this.highlightColor : 'none' }">
                          {{this.laptopRecs[0].totalStorageCapacity_original}}
                        </span>
                      </div>
                      <div *ngIf="this.needsBubbles && this.bubbleTexts['storage']" style="display: inline-block"
                           (click)="hide(document.getElementById('StoragePopup2'));">
                        <div class="popup">
                          <img class="avatar" style="max-width: 50px; margin:auto;" src="assets/Cleo_round-v2.png">
                          <span class="popuptext" [ngStyle]="get_style(this.bubbleTexts['storage'])"
                                id="StoragePopup2">
                              {{this.bubbleTexts['storage']}}
                            </span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="this.laptopRecs[0].hardDriveCapacity_filter>0">
                  <td><b class="mr-2">HDD Size</b></td>
                  <td>{{this.laptopRecs[0].hardDriveCapacity_original}}</td>
                </tr>
                <tr *ngIf="this.laptopRecs[0].solidStateDriveCapacity_filter>0">
                  <td><b class="mr-2">SSD Size</b></td>
                  <td>{{this.laptopRecs[0].solidStateDriveCapacity_original}}</td>
                </tr>
                <tr *ngIf="this.laptopRecs[0].eMmcCapacity_filter>0">
                  <td><b class="mr-2">eMMC Size</b></td>
                  <td>{{this.laptopRecs[0].eMmcCapacity_original}}</td>
                </tr>
                <tr>
                  <td><b class="mr-2">Hard Drive Type</b></td>
                  <td *ngIf="this.laptopRecs[0].storageType_original.length>0">{{this.laptopRecs[0].storageType_original}}</td>
                  <td *ngIf="this.laptopRecs[0].storageType_original.length<=0"><p style="color:grey">no information
                    available</p></td>

                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- CPU -->
          <div class="row pl-2 pr-2">
            <div class="col-12">
              <br/>
              <h5><p style="color:#2c7fb8">Processor (CPU):</p></h5>
              <br/>
              <table class="table table-striped" style="table-layout:fixed;width:100%;">
                <tbody>
                <tr>
                  <td><b class="mr-2">Processor Brand</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].processorBrand_original.length>0">{{this.laptopRecs[0].processorBrand_original}}</td>
                  <td *ngIf="this.laptopRecs[0].processorBrand_original.length<=0">
                    <p style="color:grey">no information available</p>
                  </td>
                </tr>
                <tr>
                  <td><b class="mr-2">Processor Model</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].processorModel_original.length>0">{{this.laptopRecs[0].processorModel_original}}</td>
                  <td *ngIf="this.laptopRecs[0].processorModel_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Processor Cores</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].processorCores_original.length>0">{{this.laptopRecs[0].processorCores_original}}</td>
                  <td *ngIf="this.laptopRecs[0].processorCores_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Processor Speed (Max)</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].processorSpeedBase_original.length>0">{{this.laptopRecs[0].processorSpeedBase_original}}</td>
                  <td *ngIf="this.laptopRecs[0].processorSpeedBase_original.length<=0">
                    <p style="color:grey">no information available</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- RAM -->
          <div class="row pl-2 pr-2">
            <div class="col-12">
              <br/>
              <h5><p style="color:#2c7fb8">Working Memory (RAM):</p></h5>
              <br/>
              <table class="table table-striped" style="table-layout:fixed;width:100%;">
                <tbody>
                <tr>
                  <td><b class="mr-2">RAM Size</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].systemMemoryRam_original.length>0">
                    <div>
                      <div style="display: inline-block">
                        <span
                          [ngStyle]="{'background-color':this.needsHighlight && this.bubbleTexts['ram'] ? this.highlightColor : 'none' }">
                          {{this.laptopRecs[0].systemMemoryRam_original}}
                        </span>
                      </div>
                      <div *ngIf="this.needsBubbles && this.bubbleTexts['ram']" style="display: inline-block"
                           (click)="hide(document.getElementById('ramPopup2'));">
                        <div class="popup">
                          <img class="avatar" style="max-width: 50px; margin:auto;" src="assets/Cleo_round-v2.png">
                          <span class="popuptext" [ngStyle]="get_style(this.bubbleTexts['ram'])" id="ramPopup2">
                              {{this.bubbleTexts['ram']}}
                            </span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="this.laptopRecs[0].systemMemoryRam_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                <tr
                  *ngIf="this.laptopRecs[0].systemMemoryRamType_original.length<0 && this.laptopRecs[0].systemMemoryRamType_original!='n/a'">
                  <td><b class="mr-2">RAM Type</b></td>
                  <td>{{this.laptopRecs[0].systemMemoryRamType_original}}</td>
                </tr>
                <tr *ngIf="this.laptopRecs[0].systemMemoryRamSpeed_filter>0">
                  <td><b class="mr-2">RAM Speed</b></td>
                  <td>{{this.laptopRecs[0].systemMemoryRamSpeed_original}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- CONNECTIVITY -->
          <div class="row pl-2 pr-2">
            <div class="col-12">
              <br/>
              <h5><p style="color:#2c7fb8">Connectivity:</p></h5>
              <br/>
              <table class="table table-striped" style="table-layout:fixed;width:100%;">
                <tbody>
                <tr>
                  <td><b class="mr-2">WiFi</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].internetConnectivity_original.length>0">{{this.laptopRecs[0].internetConnectivity_original}}</td>
                  <td *ngIf="this.laptopRecs[0].internetConnectivity_original.length<=0">
                    <p style="color:grey">no information available</p>
                  </td>
                </tr>
                <tr>
                  <td><b class="mr-2">USB Ports</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].numberOfUsbPortsTotal_original.length>0">{{this.laptopRecs[0].numberOfUsbPortsTotal_original}}</td>
                  <td *ngIf="this.laptopRecs[0].numberOfUsbPortsTotal_original.length<=0"><p style="color:grey">no
                    information available</p></td>
                </tr>
                <tr>
                  <td><b class="mr-2">Bluetooth</b></td>
                  <td
                    *ngIf="this.laptopRecs[0].bluetoothEnabled_original.length>0">{{this.laptopRecs[0].bluetoothEnabled_original}}</td>
                  <td *ngIf="this.laptopRecs[0].bluetoothEnabled_original.length<=0"><p style="color:grey">no information
                    available</p></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>
      <br>

      <div class="container productOffer p-2" *ngIf="currentTarget == 'offer'">
        <button style="margin: 6px; position: fixed; bottom: 3%; right: 3%" type="button" class="btn btn-primary" (click)="sendBackToSurvey()">I have formed an opinion on the product. Take me to the next step!</button>
      </div>
      <br>

    </div>


    <!-- right side menu -->
    <div class="col-2">
      <button style="margin: 6px" type="button" class="btn btn-primary" (click)="restartDialogue()">Restart Chat</button>
      <br>
      <button style="margin: 6px" type="button" class="btn btn-primary" (click)="opencloseScenario()">Read Task Description</button>
      <br>

      <!-- requirements list -->
      <div class="border border-dark rounded m-3" *ngIf="devMode == 'testing'">
        <div class="row border border-dark rounded m-3" *ngFor="let reqs of requirements | keyvalue">
          <b>{{reqs.key}}:</b> {{JSON.stringify(reqs.value)}}
        </div>
      </div>
      <!-- available laptops -->
      <div class="border border-dark rounded m-3" *ngIf="devMode == 'testing'">
        <b>available laptops:</b> {{numLaptopRecs}}
      </div>

    </div>

  </div>

  <!-- Scenario Popover -->
  <div class="fadeMe" *ngIf="showScenario"></div>
  <div class="col-md-12 priotop p-4 text-white rounded" style="position:fixed;left:10%;top:10%;width:80%;background: linear-gradient(to bottom, #418082, #396A6B);" *ngIf="showScenario">
    <div>
      <h3>Your Task:</h3>
      <h3>Imagine your laptop broke down. Now, you are searching for a new laptop.</h3>
    </div>
    <br>
    <div>
      <button type="button" class="btn btn-outline-light" (click)="opencloseScenario()">
        Close Task Description
      </button>
    </div>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

</html>
